<div class="createroute">
    <nav class="navbar navbar-inverse third-nav" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse faq-adj6" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav navbar-left sn">
                    <li class="pos-rel">
                        <a href="#"><i class="shipment-icon"></i>My Shipments</a>
                    </li>
                    <li class="pos-rel">
                        <a href="#"><i class="fa fa-search i-adj"></i>Find deliveries</a>
                    </li>
                    <li class="selected">
                        <a href="#"><i class="addt-icon"></i>Add new trips / route</a>
                    </li>
                    <li class="pos-rel">
                        <a href="#"><i class="trip-icon"></i>My upcoming trips</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <!-- how it works -->
        <div class="row shipment">
            <h1 class="s-adj2">Your new trip / route details</h1>
            <div class="col-lg-3 col-md-5 col-sm-5 createroute-left-column">
                <div class="col-lg-3 shipment-cotent-left">
                    <img src="images/map.jpg">
                </div>
            </div>
            <div class="col-lg-9 col-md-7 col-sm-7 createroute-right-column shipment-c">
                <div class="row">
                    <div class="marbot-twenty clearfix">
                        <label class="col-lg-3 col-md-3">From</label>
                        <div class="col-lg-7 col-md-7">
                            <input type="text" placeholder="From What City?" id="youremail" class="form-control c-adj4 location2">
                        </div>
                    </div>
                    <div class="marbot-twenty clearfix">
                        <label class="col-lg-3 col-md-3">To</label>
                        <div class="col-lg-7 col-md-7">
                            <input type="text" placeholder="To What City?" id="youremail" class="form-control c-adj4 location2">
                        </div>
                    </div>
                    <div class="marbot-twenty clearfix">
                        <label class="col-lg-3 col-md-3">Delivery</label>
                        <div class="col-lg-7 col-md-7">
                            <div id="createroute-delivery-custom-style">
                                <select  class="form-control c-adj06 show-tick" id="basic">
                                    <option value="" disabled selected>Delivery When?</option>
                                    <option>Anytime</option>
                                    <option>Today</option>
                                    <option>Within a week</option>
                                    <option>Within a month</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <style>
                        #createroute-delivery-custom-style{ background-color: transparent;
                                    background: url(images/travel-search-bg2.png) no-repeat 7px 13px; /*background-size: 150px auto;*/
                                    background-color: rgb(243, 243, 243); border-color: rgb(235, 235, 235);
                                    overflow: hidden; height: 50px; margin-bottom: 15px;
                                    border-right-width: 0px; border-left-width: 0px; padding: 0px; margin: 0px; overflow: visible;
                                    /*border: 1px solid #ebebeb; border-radius: 2px; box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;*/
                                    /*height: 48px; 
                                    position: relative; margin-left: 1px; */
                                    
                        }
                        
                        #createroute-delivery-custom-style:after { content: ''; position: absolute; top: 0px; right: 0px;
                                               z-index: 500; width: 25px; height: 49px;
                                               background: url(images/travel-search-arrow.png) no-repeat center center rgb(243, 243, 243);
                                               display: none;
                        }
                        
                        #createroute-delivery-custom-style select{ /*padding-left: 34px;*/ background-color: transparent;
                                            margin-bottom: 0px; max-height: 48px; width: 100%; border: 0px;
                                            text-indent: 32px; padding-left: 0px; line-height: 48px; box-shadow: none;
                                            
                                            border: 1px solid #ebebeb; border-radius: 2px; box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
                                            /*margin-top: -1px; height: 50px; max-height: 50px; line-height: 50px;
                                            position: absolute; z-index: 9999; top: -2px; left: -2px;*/
                        }
                        
                        /*#createroute-delivery-custom-style select:focus,
                        #createroute-delivery-custom-style:active,*/
                        #createroute-delivery-custom-style select:focus{
                            border-color: #66afe9; border: solid 1px #66afe9;
                            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
                            outline: 0 none; outline: solid 1px #66afe9;
                        }
                        
                        #createroute-delivery-custom-style select>option{ font-size: 15px !important; background-color: #fff; padding: 0px !important; border: 0px;
                        }
                        
                        /*mozilla specific style for the select dropdown*/
                        @-moz-document url-prefix() {
                            #createroute-delivery-custom-style select { text-indent: 16px; }
                            #createroute-delivery-custom-style select>option{ font-size: 14px !important; }
                        }
                    </style>
                    
                    
                    <div class="marbot-twenty clearfix">
                        <label class="col-lg-3 col-md-3">&nbsp;</label>
                        <div class="col-lg-7 col-md-7">
                            <button type="#" class="btn btn-default c-adj7 submit-btn4 sub-btn" data-toggle="modal" data-target="#myModal">GO</button>
                        </div>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog adj-16">
                                <!-- Modal content-->
                                <div class="modal-content adj-17 adj-18">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Please enter your name</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" class="form-control" id="usr" placeholder="Full Name">
                                        <a href="#" class="sub-btn clr-adj">Save</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>