
<!-- Page Content -->
<div class="container media-page">
	<!-- how it works -->
	<div class="row">
		<div class="top-bg col-lg-12"></div>
		<div class="page-content">
			<h1 translate="media.page_heading" class="page-heading text-center">Media</h1>
			<p translate="media.visit_us" class="visit-us text-center">For more information in regards
				to media please contact at</p>
			<ul class="col-lg-12">
				<li class="text-center text-small">
				    <a translate="media.mail_text"
					   href="media@friendsend.com">media@friendsend.com</a>
				</li>
				<li translate="media.download_logo" class="text-center logo-text">To download our logo please
					click here.</li>
			</ul>
		</div>
	</div>
</div>
