<div class="my-shipments">
    <nav class="navbar navbar-inverse second-nav" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse faq-adj6" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left sn">
                    <li class="pos-rel">
                        <a href="#"><i class="shipment-icon"></i>My Shipments</a>

                    </li>
                    <li class="selected">
                        <a href="#"><i class="nshipment-icon"></i>New Shipment</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container-fluid n-bg">

        <div class="container">

            <a href="#" class="pressed">Summary<i class="triangle-up"></i></a>
            <a href="#" class="normal">History</a>
          
        </div>

    </div>


    <!-- Page Content -->
    <div class="container">

        <!-- how it works -->
        <div class="row shipment">

            <div class="breadcrump">
                <a href="#">Home</a> >> <a href="#">My Shipments</a>
            </div>

            <h1 class="s-adj">My Shipments</h1>

            <div class="shipment-box">
              
              <div class="col-lg-2 no-padding-left">
                <img src="images/shipment-1.jpg" class="img-responsive">
              </div>

                <div class="col-lg-10 no-padding-right">
                    <h4 class="pull-left stext">Chair, from Provo to Las Vegas, within a week, $100</h4>

                    <a href="#" class="pull-right unread-notification"><i class="fa fa-comments-o"></i>4 Unread</a>

                    <div class="clearfix"></div>

                    <p class="text-adj5">I am looking for someone to deliver a Chair for me from Provo to Las Vegas, within a week. I am willing to pay $100.</p>

                    <div class="clearfix"></div>

                    <b>Status:</b> <span class="blue-text">Pending</span>

                    <a href="#" class="pull-right black-text">Cancel Shipment <i class="glyphicon glyphicon-remove-circle"></i></a>

                    <div class="cleafix"></div>

                    <ul class="db-table">
                      <li class="head">
                        <div class="se">Sender</div>
                        <div class="lm">Last Message</div>
                        <div class="up">Update</div>
                        <div class="stus">Status</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-1.jpg" class="img-circle">Jay-Z</div>
                        <div class="lm"><a href="#">BID</a>Last Message</div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Bid</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-2.jpg" class="img-circle"> Jack Reacher</div>
                        <div class="lm">Can I pick it up early in the morning around 7:00 AM </div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Accepted</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-3.jpg" class="img-circle"> Jennifer Lopez</div>
                        <div class="lm">I ll reach Las Vegas late night is it okay to deliver around...</div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Pending</div>
                      </li>
                    </ul>

                </div>
            
            </div>

            <div class="shipment-box">
              
              <div class="col-lg-2 no-padding-left">
                <img src="images/shipment-2.jpg" class="img-responsive">
              </div>

                <div class="col-lg-10 no-padding-right">
                    <h4 class="pull-left stext">Chair, from Provo to Las Vegas, within a week, $100</h4>

                    <a href="#" class="pull-right read-notification"><i class="fa fa-comments-o"></i></a>

                    <div class="clearfix"></div>

                    <p class="text-adj5">I am looking for someone to deliver a Chair for me from Provo to Las Vegas, within a week. I am willing to pay $100.</p>

                    <div class="clearfix"></div>

                    <b>Status:</b> <span class="blue-text">Pending</span>

                    <a href="#" class="pull-right black-text">Cancel Shipment <i class="glyphicon glyphicon-remove-circle"></i></a>

                    <div class="cleafix"></div>

                    <ul class="db-table">
                      <li class="head">
                        <div class="se">Sender</div>
                        <div class="lm">Last Message</div>
                        <div class="up">Update</div>
                        <div class="stus">Status</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-2.jpg" class="img-circle">Jay-Z</div>
                        <div class="lm"><a href="#">BID</a>Last Message</div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Bid</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-2.jpg" class="img-circle"> Jack Reacher</div>
                        <div class="lm">Can I pick it up early in the morning around 7:00 AM </div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Accepted</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-3.jpg" class="img-circle"> Jennifer Lopez</div>
                        <div class="lm">I ll reach Las Vegas late night is it okay to deliver around...</div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Pending</div>
                      </li>
                    </ul>

                </div>
            
            </div>

            <div class="shipment-box">
              
              <div class="col-lg-2 no-padding-left">
                <img src="images/shipment-3.jpg" class="img-responsive">
              </div>

                <div class="col-lg-10 no-padding-right">
                    <h4 class="pull-left stext">Chair, from Provo to Las Vegas, within a week, $100</h4>

                    <a href="#" class="pull-right unread-notification"><i class="fa fa-comments-o"></i>4 Unread</a>

                    <div class="clearfix"></div>

                    <p class="text-adj5">I am looking for someone to deliver a Chair for me from Provo to Las Vegas, within a week. I am willing to pay $100.</p>

                    <div class="clearfix"></div>

                    <b>Status:</b> <span class="blue-text">Pending</span>

                    <a href="#" class="pull-right black-text">Cancel Shipment <i class="glyphicon glyphicon-remove-circle"></i></a>

                    <div class="cleafix"></div>

                    <ul class="db-table">
                      <li class="head">
                        <div class="se">Sender</div>
                        <div class="lm">Last Message</div>
                        <div class="up">Update</div>
                        <div class="stus">Status</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-1.jpg" class="img-circle">Jay-Z</div>
                        <div class="lm"><a href="#">BID</a>Last Message</div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Bid</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-2.jpg" class="img-circle"> Jack Reacher</div>
                        <div class="lm">Can I pick it up early in the morning around 7:00 AM </div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Accepted</div>
                      </li>
                      <li class="senormal">
                        <div class="se"><img src="images/smp-3.jpg" class="img-circle"> Jennifer Lopez</div>
                        <div class="lm">I ll reach Las Vegas late night is it okay to deliver around...</div>
                        <div class="up">Jun-14-2015</div>
                        <div class="stus">Pending</div>
                      </li>
                    </ul>

                </div>
            
            </div>

        </div>
    </div>
</div>

<!-- s t y l e>
    /* dashbaord 31-7-15* /
.my-shipments { margin-top: 96px; }

.my-shipments .shipment { margin: 80px 0px; }

.my-shipments nav {  }
.my-shipments nav ul.navbar-nav {  }
.my-shipments nav ul.navbar-nav li {  }
.my-shipments li.selected { border: 1px solid white; border-radius: 5px; }
.my-shipments nav ul.navbar-nav li a { padding: 15px 30px; font-size: 18px !important; }

.sn a:hover { color: white!important; opacity: .7; }

.my-shipments nav ul.navbar-nav li a .nshipment-icon {
    background: url("images/myshipment-sprite.png") no-repeat scroll 0 -63px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 40px;
    margin-top: -8px;
    width: 40px;
}

.my-shipments .second-nav {
    background-color: gold;
    border-radius: 0;
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 27px;
    height: 120px;
    padding-top: 34px;
    border-bottom: 1px solid #003339;
    background: #007987;
    background: -moz-linear-gradient(top, #007987 0%, #58d1df 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007987), color-stop(100%,#58d1df));
    background: -webkit-linear-gradient(top, #007987 0%,#58d1df 100%);
    background: -o-linear-gradient(top, #007987 0%,#58d1df 100%);
    background: -ms-linear-gradient(top, #007987 0%,#58d1df 100%);
    background: linear-gradient(to bottom, #007987 0%,#58d1df 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007987', endColorstr='#58d1df',GradientType=0 );
}
    
.my-shipments .n-bg { background-color: #2b2c32; height: 89px; border-top: 1px solid #88888c; box-shadow: 0px 0px 8px #000; }

.my-shipments a.pressed {
    color: #ffffff;
    font-size: 17px;
    background: #202124;
    padding: 7px 0px 7px 0px;
    border-radius: 6px;
    border-top: 1px solid #49494c;
    border-left: 1px solid #323235;
    float: left;
    margin: 24px 1px 24px 59px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    -moz-box-shadow: inset 0px 0px 16px 5px #000;
    -webkit-box-shadow: inset 0px 0px 16px 5px #000;
    box-shadow: inset 0px 0px 16px 5px #000;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
}

.my-shipments a.normal { 
    color: #ffffff;
    font-size: 17px;
    background: #686d6e;
    background-image: -webkit-linear-gradient(top, #686d6e, #323232);
    background-image: -moz-linear-gradient(top, #686d6e, #323232);
    background-image: -ms-linear-gradient(top, #686d6e, #323232);
    background-image: -o-linear-gradient(top, #686d6e, #323232);
    background-image: linear-gradient(to bottom, #686d6e, #323232);
    padding: 7px 0;
    text-align: center;
    border-radius: 6px;
    border-top: 1px solid #77797a;
    border-left: 1px solid #5b5c5d;
    float: left;
    margin: 24px 59px;
    width: 150px;
    text-decoration: none;
    -moz-box-shadow: 0 0 26px -3px rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 0 26px -3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 26px -3px rgba(0, 0, 0, 0.2) inset;
    border-bottom: 1px solid #111111;
    border-right: 1px solid #2a2b2c;
    position: relative;
}

.my-shipments .triangle-up {
    border-bottom: 20px solid #303137;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    left: 37%;
    position: absolute;
    top: -36px;
    width: 0;
}

.my-shipments .breadcrump { color: #818181; margin-bottom: 15px; }
.my-shipments .breadcrump a { color: #818181; font-size: 12px; }
.my-shipments .stext { font-weight: bold; }

.my-shipments .s-adj { color: #007987; font-weight: normal; margin: 0px; padding: 0px 0px 60px; }

.my-shipments .shipment-box { border: 1px solid #d0d0d0; margin: 20px 0px; overflow: hidden; padding: 5px 0px 5px 5px; }


.my-shipments .unread-notification { background-color: #0a8391; border-radius: 3px; color: white; margin: 5px 20px 0px 10px; padding: 5px 10px; }
.my-shipments .read-notification { background-color: #989898; border-radius: 3px; color: white; margin: 5px 20px 0px 10px; padding: 5px 10px; }
.my-shipments .read-notification i { font-size: 16px; }
.my-shipments .unread-notification i { font-size: 16px; margin-right: 5px }
.my-shipments .text-adj5 { font-size: 16px; margin-bottom: 35px; margin-top: 5px; }
.my-shipments .blue-text { color: #0a8391 }
.my-shipments .black-text { color: black; margin-right: 20px; }
.my-shipments .black-text i { font-size: 15px; }
.my-shipments .head { background-color: #007987; display: block; float: left; width: 100%; }
.my-shipments .se { width: 25%; }
.my-shipments .lm { width: 50%; }
.my-shipments .up { width: 15%; }
.my-shipments .stus { width: 10%; }
.my-shipments .no-padding-left { padding-left: 0px !important; }
.my-shipments .no-padding-right { padding-right: 0px !important; }
.my-shipments .db-table { list-style-type: none; margin: 60px 0px 0px; padding: 0px; position: relative; text-decoration: none; top: 5px; }
.my-shipments .db-table li.head div { border-left: 1px solid #09afc2; border-right: 1px solid #004f58; color: white; display: inline-block; float: left; font-size: 18px; padding: 0px 20px; }
.my-shipments .db-table li div { color: #6e6e6e; display: inline-block; float: left; font-size: 15px; line-height: 46px; padding: 5px 20px; }
.my-shipments .db-table li.senormal { background-color: #eeeeee; border-left: 1px solid #cfcfcf; border-right: 1px solid #cfcfcf; border-top: 1px solid #cfcfcf; display: block; float: left; width: 100%; color: #6e6e6e; }
.my-shipments .lm a { background-color: #45becc; border-radius: 3px; color: white; margin-right: 5px; padding: 1px 30px; }
.my-shipments .unread-notification:hover { color: white; }
.my-shipments .unread-notification:focus { color: white; }*/

/* end dashbaord 31-7-15*/
</style-->


<script type="text/javascript">
    
    $(document).ready(function(){

    	$(".db-table").slideUp();
    
    /*$("a").click(function(event){
        event.preventDefault();
    }); 
    
    //
    
    $('#accordion').on('hidden.bs.collapse', function () {
    })
    
    $('#accordion .accordion-toggle').click(function (e){
        var chevState = $(e.target).siblings("i.indicator").toggleClass('glyphicon-triangle-bottom glyphicon-triangle-top');
        $("i.indicator").not(chevState).removeClass("glyphicon-triangle-bottom").addClass("glyphicon-triangle-top");
        
        $( "#myselect option:selected" ).text();
    });*/
    
    $(".unread-notification").click(function(){
        $(this).parent('.no-padding-right').find('ul').slideToggle('fast');
    }); 
    
}); 


    </script>