<div class="inerpage-bg" id="sending-titles">
    <div class="container pos-rel f-height">
        <div class="carousel-caption sending-adj3">
            <h2 translate="sending.top_image_section_text1" class="top-green-h2 text-adj">From A to B</h2>
            <p translate="sending.top_image_section_text2" class="top-green-p" >Sending stuff has never been easier</p>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container" id="sending" >

    <!-- how it works -->
    <div class="row">

        <div class="col-lg-12">
            <h1 translate="sending.send_stuff_heading" class="page-header">Send Stuff</h1>
        </div>
        <div class="col-lg-12 text-center sending-adj1">
            <p translate="sending.send_stuff_text">Millions of people travel every day, commuting to work, getting to school or going on road trips.<br/>We hook you up with the massive untapped freight capacity of others going the same way as your stuff.<br/>Sending your stuff has never been easier or more fun.</p>
            <h5></h5>
        </div>
        <div class="col-md-4 text-center hiw ss">
            <img src="images/atob.jpg" alt="How it works" class="img-circle ">
            <br/><br/> <h4 translate="sending.a_to_b_heading">A to B</h4>
            <p translate="sending.a_to_b_text">
                Create a shipment request and let us know where your stuff needs to go, From What 
                City and To What City, or Within a City. Done!
            </p>

        </div>
        <div class="col-md-4 text-center hiw ss">
            <img src="images/stuff.jpg" alt="How it works" class="img-circle ">
            <br/><br/><h4 translate="sending.stuff_heading">Stuff</h4>

            <p translate="sending.stuff_text">
                Send "any" item anywhere – an envelope, fridge or an elephant – it doesn't matter to us.
                We bet you we find someone that will deliver your elephant.
            </p>

        </div>
        <div class="col-md-4 text-center hiw ss">
            <img src="images/affordable.jpg" alt="How it works" class="img-circle ">
            <br/><br/>                
            <h4 translate="sending.affordable_heading">Affordable</h4>
            <p translate="sending.affordable_text">
                You decide what you are willing to pay
                for pick-up and delivery of your stuff. If you 
                are not sure, just leave out the price, sit back and wait for a courier to bid on your request.
            </p>

        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 text-center hiw ss">
            <img src="images/seconds.jpg" alt="How it works" class="img-circle ">
            <br/><br/>                
            <h4 translate="sending.a15_seconds_heading">15 Seconds</h4>
            <p translate="sending.a15_seconds_text">
                It takes no more than 15 seconds to 
                create a shipment request.<br/>
                Try it right now, IT'S FREE! 
            </p>
        </div>
        <div class="col-md-4 text-center hiw ss">
            <img src="images/questions.jpg" alt="How it works" class="img-circle ">
            <br/><br/>                
            <h4 translate="sending.got_questions_heading">Got Questions></h4>
            <p translate="sending.got_questions_text">Get in touch with our friendly staff!</p>
        </div>

    </div>
    <!-- /.row -->

</div>
